@import 'styles';

.chart {
  @include box-styling;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: $font-size-20;
    margin: 20px;
  }

  &__line-chart {
    margin: 0 auto;
  }
}
