@import 'styles';

.instructions {
  @include box-styling;
  font-size: $font-size-14;

  &__list {
    margin: 0;
    padding-left: $size-16;
  }

  &__small-text {
    margin-top: $size-4;
    font-size: $font-size-12;
  }
}
