@import 'styles';

.button {
  border: 1px solid $color-grey;
  font-weight: 600;
  background: $color-white;
  cursor: pointer;
  width: 100%;
  height: 38px;

  &:disabled {
    background: $color-grey;
  }
}
