@import 'styles';

.filters {
  $filters-width: 500px;
  @include box-styling;

  background: $color-secondary;
  width: $filters-width;
  max-width: $filters-width;
  min-height: 400px;

  &__flex-container {
    display: flex;
  }

  &__panel {
    flex-grow: 1;
  }

  &__method {
    margin-bottom: $size-24;
  }

  &__caption {
    font-weight: 900;
  }

  &__apply-button {
    margin: $size-28 $size-12;
    padding: $size-4 0;
  }
}
