//colors
$color-primary: #005486;
$color-secondary: #e4f3ff;
$color-secondary-disabled: #232e3bd9;

$color-grey: #e0e0e0;
$color-light-grey: #f1f1f1;
$color-black: #000000;
$color-white: #fff;
$color-orange: #e49e1d;
$color-red: #db3c26;
$color-blue: #1e30ff;

$color-secondary-text: #727272;

//borders
$border-light-grey: 1px solid $color-grey;
$border-radius: 4px;

//global app specific
$header-height: 70px;

//size
$size-4: 4px;
$size-8: 8px;
$size-12: 12px;
$size-16: 16px;
$size-20: 20px;
$size-24: 24px;
$size-28: 28px;
$size-32: 32px;
$size-48: 48px;

$font-size-8: 8px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;

//font-size
$font-size-base-mobile: $font-size-14;
$font-size-base-desktop: $font-size-16;

//breakpoints
$breakpoint-tablet: 740px;
$breakpoint-mobile: 480px;

@mixin box-styling {
  margin: $size-4 $size-8;
  padding: $size-12;
  border: $border-light-grey;
}
